<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Office Modules</title>
</head>
<body>
    <!-- top header/banner -->
     <header id="header" class="banner header-banner banner-header">
        <h1 class="header-title title-header hidden">Office Modules</h1>
     </header>

     <!-- modules -->
     <section id="modules" class="module-wrapper wrapper-module mod-wrapper wrapper-mod">
        <ul class="modules-container">
            <li class="modules-list-item">
                <!-- name -->
                 <h3 class="module-name name-module">Calculator</h3>
            </li>
            <li class="modules-list-item">
                <!-- name -->
                 <h3 class="module-name name-module">Notepad</h3>
            </li>
            <li class="modules-list-item">
                <!-- name -->
                 <h3 class="module-name name-module">Random</h3>
            </li>
        </ul>
        <div id="preview" class="preview-container container-preview">
            <img src="./notes-test.jpg" alt="notes picture">
        </div>
     </section>
     <script src="main.js"></script>
</body>
</html>