* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body {
  background-image: linear-gradient(15deg, silver, ghostwhite, silver);
  background-image: -o-linear-gradient(15deg, silver, ghostwhite, silver);
  background-image: -moz-linear-gradient(15deg, silver, ghostwhite, silver);
  background-image: -webkit-linear-gradient(15deg, silver, ghostwhite, silver);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-header {
  background: #000;
  width: 100%;
  height: 125px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
.title-header {
  color: #fff;
  font-size: 36px;
  border: 2px solid red;
  /* width:inherit; */
  transition: 1.25s;
  font-family: "Itim", cursive !important;
  font-weight: 400;
  font-style: normal;
}
.hidden {
  opacity: 0;
  transform: translate(-100px, 0);
}
.appear {
  opacity: 1;
  transform: translate(100px, 0);
}

#modules {
  width: 100%;
  height: 100vh;
  display: flex;
  border:2px solid red;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.modules-list-item {
  width: 100%;
  height: 100%;
  min-height: 45px;
  max-height: 45px;
  border-bottom: 0.5px solid #000;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
}
.modules-list-item:hover {
  cursor: pointer;
  opacity: 0.89;
  background: #000;
  color: #fff;
  border-bottom: 0.5px solid #fff;
}
#preview,
.modules-container {
  overflow: hidden;
  width:50%;
  height:500px;
}
.prev-img{
width:50%;
height:550px;
border:1rem double indigo;
height:100%;
}
.hide-prev{
  display:none;
}
#preview {
  box-shadow: -0.35rem 0 12px 0.5px #484848c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a.btn-article{
  position: absolute;
  right: 15px;
  top: 5px;
  text-decoration: none;
}
.btn-container {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: .5s;; */
  border: 2px solid transparent;
}
.fl-right{
  color:#000;
}
.white-border{
  border: 2px solid rgb(255, 255, 255);
  color:#fff;
}
.green-border{
  border: 2px solid rgb(0, 255, 0);
  color:#0f0;
}
